.chat {
  flex: 0.65;
  /* background-color: beige; */
  display: flex;
  flex-direction: column;
}

.chat__header {
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
}
.chat__headerInfo {
  flex: 1;
  padding-left: 20px;
}
.chat__headerInfo {
  flex: 1;
  padding-left: 20px;
}

.chat__headerInfo > h3 {
  margin-bottom: 3px;
  font-weight: 500;
}
.chat__headerInfo > p {
  color: gray;
}
.chat__headerRight {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
}

.chat__body {
  flex: 1;
  overflow: scroll;
  background-repeat: repeat;
  background-position: center;
  padding: 30px;

  background-image: url("https://i.pinimg.com/originals/79/5c/ab/795cabc4647f73b365e2e6eabd0f34dc.png");
}
.chat__message {
  position: relative;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff;
  width: fit-content;
  margin-bottom: 30px;
}

.chat__name {
    position: absolute;
    top: -15px;
}